USE [master]
GO
/****** Object:  Database [CowShop]    Script Date: 14/09/2025 8:23:29 p. m. ******/
CREATE DATABASE [CowShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CowShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CowShopApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CowShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CowShopApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CowShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CowShop]
GO
/****** Object:  UserDefinedTableType [dbo].[VentaDetalleTipo]    Script Date: 14/09/2025 8:23:29 p. m. ******/
CREATE TYPE [dbo].[VentaDetalleTipo] AS TABLE(
	[ID_Vaca] [int] NULL,
	[Precio] [decimal](18, 2) NULL,
	[Descuento] [decimal](18, 2) NULL
)
GO
/****** Object:  Table [dbo].[Detalle_Venta]    Script Date: 14/09/2025 8:23:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Venta](
	[ID_Detalle_Venta] [int] IDENTITY(1,1) NOT NULL,
	[ID_Venta] [int] NULL,
	[ID_Vaca] [int] NULL,
	[Precio] [decimal](20, 2) NULL,
	[Descuento] [decimal](18, 2) NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Detalle_Venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Membresia]    Script Date: 14/09/2025 8:23:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membresia](
	[ID_Membresia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Membresia] [varchar](100) NULL,
	[Valor_Membresia] [int] NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Membresia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 14/09/2025 8:23:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[ID_Rol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](100) NOT NULL,
	[DescripcionRol] [varchar](250) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[ID_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 14/09/2025 8:23:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](80) NOT NULL,
	[Cedula] [varchar](20) NOT NULL,
	[Fecha_Nacimiento] [date] NOT NULL,
	[Correo] [varchar](320) NOT NULL,
	[Celular] [varchar](10) NOT NULL,
	[Tipo_Usuario] [varchar](20) NOT NULL,
	[ID_Membresia] [int] NULL,
	[Contrasena] [varbinary](256) NOT NULL,
	[ID_Rol] [int] NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaca]    Script Date: 14/09/2025 8:23:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaca](
	[ID_Vaca] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](80) NULL,
	[Raza] [varchar](80) NULL,
	[Edad] [int] NULL,
	[Peso] [decimal](10, 2) NULL,
	[Precio] [decimal](20, 2) NULL,
	[Estado_Salud] [varchar](50) NULL,
	[ID_Vendedor] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Vaca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 14/09/2025 8:23:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[ID_Venta] [int] IDENTITY(1,1) NOT NULL,
	[ID_Comprador] [int] NOT NULL,
	[Fecha_Venta] [datetime] NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Detalle_Venta] ON 

INSERT [dbo].[Detalle_Venta] ([ID_Detalle_Venta], [ID_Venta], [ID_Vaca], [Precio], [Descuento], [FechaCreacion], [FechaModificacion], [Estado]) VALUES (58, 44, 2, NULL, CAST(0.00 AS Decimal(18, 2)), CAST(N'2025-09-14T19:31:01.407' AS DateTime), CAST(N'2025-09-14T19:31:01.407' AS DateTime), 1)
INSERT [dbo].[Detalle_Venta] ([ID_Detalle_Venta], [ID_Venta], [ID_Vaca], [Precio], [Descuento], [FechaCreacion], [FechaModificacion], [Estado]) VALUES (59, 44, 4, NULL, CAST(0.00 AS Decimal(18, 2)), CAST(N'2025-09-14T19:31:01.407' AS DateTime), CAST(N'2025-09-14T19:31:01.407' AS DateTime), 1)
INSERT [dbo].[Detalle_Venta] ([ID_Detalle_Venta], [ID_Venta], [ID_Vaca], [Precio], [Descuento], [FechaCreacion], [FechaModificacion], [Estado]) VALUES (60, 44, 8, NULL, CAST(0.00 AS Decimal(18, 2)), CAST(N'2025-09-14T19:31:01.407' AS DateTime), CAST(N'2025-09-14T19:31:01.407' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Detalle_Venta] OFF
GO
SET IDENTITY_INSERT [dbo].[Membresia] ON 

INSERT [dbo].[Membresia] ([ID_Membresia], [Nombre_Membresia], [Valor_Membresia], [FechaCreacion], [FechaModificacion], [Estado]) VALUES (1, N'Básica', 100000, CAST(N'2025-09-08T23:43:42.337' AS DateTime), CAST(N'2025-09-14T19:07:07.150' AS DateTime), 1)
INSERT [dbo].[Membresia] ([ID_Membresia], [Nombre_Membresia], [Valor_Membresia], [FechaCreacion], [FechaModificacion], [Estado]) VALUES (2, N'Profesional', 50000, CAST(N'2025-09-08T23:43:42.337' AS DateTime), CAST(N'2025-09-14T18:55:24.700' AS DateTime), 1)
INSERT [dbo].[Membresia] ([ID_Membresia], [Nombre_Membresia], [Valor_Membresia], [FechaCreacion], [FechaModificacion], [Estado]) VALUES (3, N'Premium', 100000, CAST(N'2025-09-08T23:43:42.337' AS DateTime), CAST(N'2025-09-14T18:55:07.217' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Membresia] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([ID_Rol], [NombreRol], [DescripcionRol], [FechaCreacion], [FechaModificacion], [Estado]) VALUES (1, N'Administrador', N'Rol con permisos completos para administrar el sistema, usuario supremo', CAST(N'2025-09-08T23:47:05.770' AS DateTime), CAST(N'2025-09-13T16:39:55.070' AS DateTime), 1)
INSERT [dbo].[Rol] ([ID_Rol], [NombreRol], [DescripcionRol], [FechaCreacion], [FechaModificacion], [Estado]) VALUES (2, N'Usuario', N'Rol estándar con acceso básico a las funcionalidades', CAST(N'2025-09-08T23:47:05.770' AS DateTime), CAST(N'2025-09-13T16:47:36.030' AS DateTime), 1)
INSERT [dbo].[Rol] ([ID_Rol], [NombreRol], [DescripcionRol], [FechaCreacion], [FechaModificacion], [Estado]) VALUES (3, N'Moderador', N'Rol encargado de supervisar y moderar contenidos', CAST(N'2025-09-08T23:47:05.770' AS DateTime), CAST(N'2025-09-08T23:47:05.770' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([ID_Usuario], [Nombre], [Cedula], [Fecha_Nacimiento], [Correo], [Celular], [Tipo_Usuario], [ID_Membresia], [Contrasena], [ID_Rol], [FechaCreacion], [FechaModificacion], [Estado]) VALUES (1, N'Ana Maria Perez', N'12345789', CAST(N'1999-05-10' AS Date), N'ana@gmail.com', N'3001234533', N'Comprador', 1, 0xEB045D78D273107348B0300C01D29B7552D622ABBC6FAF81B3EC55359AA9950C, 2, CAST(N'2025-09-08T23:47:34.900' AS DateTime), CAST(N'2025-09-14T19:30:12.633' AS DateTime), 1)
INSERT [dbo].[Usuario] ([ID_Usuario], [Nombre], [Cedula], [Fecha_Nacimiento], [Correo], [Celular], [Tipo_Usuario], [ID_Membresia], [Contrasena], [ID_Rol], [FechaCreacion], [FechaModificacion], [Estado]) VALUES (4, N'Sebastian Barreto', N'102589741', CAST(N'1995-08-12' AS Date), N'sebastbarr@gmail.com', N'3154486472', N'Comprador', 3, 0x32C24E709AC9CF626C5FE2EECF5F4C49CA7701D572AAC941BABE7F6F9F76B68F, 4, CAST(N'2025-09-08T23:52:46.630' AS DateTime), CAST(N'2025-09-08T23:52:46.630' AS DateTime), 1)
INSERT [dbo].[Usuario] ([ID_Usuario], [Nombre], [Cedula], [Fecha_Nacimiento], [Correo], [Celular], [Tipo_Usuario], [ID_Membresia], [Contrasena], [ID_Rol], [FechaCreacion], [FechaModificacion], [Estado]) VALUES (5, N'camilo hernandez', N'45786432', CAST(N'1950-07-01' AS Date), N'caherndz@gmail.com', N'3154875421', N'Comprador', 3, 0xEF303EB22C4EA179A2C1562553BFFAF01DF715CD7E36B4D0D4ED3A03422EA4C7, 5, CAST(N'2025-09-09T20:35:05.570' AS DateTime), CAST(N'2025-09-09T20:35:05.570' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Vaca] ON 

INSERT [dbo].[Vaca] ([ID_Vaca], [Nombre], [Raza], [Edad], [Peso], [Precio], [Estado_Salud], [ID_Vendedor], [FechaCreacion], [FechaModificacion], [Estado]) VALUES (1, N'Adelinaa', N'Holstein', 0, CAST(840.00 AS Decimal(10, 2)), CAST(4600000.00 AS Decimal(20, 2)), N'Bueno', 7, CAST(N'2025-09-10T21:03:07.890' AS DateTime), CAST(N'2025-09-10T22:41:55.793' AS DateTime), 0)
INSERT [dbo].[Vaca] ([ID_Vaca], [Nombre], [Raza], [Edad], [Peso], [Precio], [Estado_Salud], [ID_Vendedor], [FechaCreacion], [FechaModificacion], [Estado]) VALUES (2, N'Manchitas', N'Holstein', 4, CAST(720.00 AS Decimal(10, 2)), CAST(5200000.00 AS Decimal(20, 2)), N'Buena', 8, CAST(N'2025-09-10T21:03:07.890' AS DateTime), CAST(N'2025-09-10T21:03:07.890' AS DateTime), 1)
INSERT [dbo].[Vaca] ([ID_Vaca], [Nombre], [Raza], [Edad], [Peso], [Precio], [Estado_Salud], [ID_Vendedor], [FechaCreacion], [FechaModificacion], [Estado]) VALUES (4, N'Brisa', N'Angus', 0, CAST(950.00 AS Decimal(10, 2)), CAST(7800000.00 AS Decimal(20, 2)), N'Regular', 7, CAST(N'2025-09-10T21:03:07.890' AS DateTime), CAST(N'2025-09-14T18:36:03.963' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Vaca] OFF
GO
SET IDENTITY_INSERT [dbo].[Venta] ON 

INSERT [dbo].[Venta] ([ID_Venta], [ID_Comprador], [Fecha_Venta], [Total], [FechaCreacion], [FechaModificacion], [Estado]) VALUES (3, 1, CAST(N'2025-09-01T10:30:00.000' AS DateTime), CAST(2500000.00 AS Decimal(18, 2)), CAST(N'2025-09-12T22:10:51.053' AS DateTime), CAST(N'2025-09-12T22:10:51.053' AS DateTime), 1)
INSERT [dbo].[Venta] ([ID_Venta], [ID_Comprador], [Fecha_Venta], [Total], [FechaCreacion], [FechaModificacion], [Estado]) VALUES (5, 1, CAST(N'2025-09-03T09:00:00.000' AS DateTime), CAST(3200000.00 AS Decimal(18, 2)), CAST(N'2025-09-12T22:10:51.053' AS DateTime), CAST(N'2025-09-12T22:10:51.053' AS DateTime), 1)
INSERT [dbo].[Venta] ([ID_Venta], [ID_Comprador], [Fecha_Venta], [Total], [FechaCreacion], [FechaModificacion], [Estado]) VALUES (44, 5, CAST(N'2025-09-09T00:00:00.000' AS DateTime), CAST(13500000.00 AS Decimal(18, 2)), CAST(N'2025-09-14T19:31:01.407' AS DateTime), CAST(N'2025-09-14T19:31:01.407' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Venta] OFF
GO
/****** Object:  Index [IX_DetalleVenta_ID_Vaca]    Script Date: 14/09/2025 8:23:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_DetalleVenta_ID_Vaca] ON [dbo].[Detalle_Venta]
(
	[ID_Vaca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetalleVenta_ID_Venta]    Script Date: 14/09/2025 8:23:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_DetalleVenta_ID_Venta] ON [dbo].[Detalle_Venta]
(
	[ID_Venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__60695A194854F949]    Script Date: 14/09/2025 8:23:30 p. m. ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__B4ADFE38783E369E]    Script Date: 14/09/2025 8:23:30 p. m. ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuario_Cedula]    Script Date: 14/09/2025 8:23:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Usuario_Cedula] ON [dbo].[Usuario]
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuario_Correo]    Script Date: 14/09/2025 8:23:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Usuario_Correo] ON [dbo].[Usuario]
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuario_Tipo]    Script Date: 14/09/2025 8:23:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Usuario_Tipo] ON [dbo].[Usuario]
(
	[Tipo_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vaca_ID_Vendedor]    Script Date: 14/09/2025 8:23:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Vaca_ID_Vendedor] ON [dbo].[Vaca]
(
	[ID_Vendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Vaca_Raza]    Script Date: 14/09/2025 8:23:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Vaca_Raza] ON [dbo].[Vaca]
(
	[Raza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Venta_Fecha]    Script Date: 14/09/2025 8:23:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Venta_Fecha] ON [dbo].[Venta]
(
	[Fecha_Venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Venta_ID_Comprador]    Script Date: 14/09/2025 8:23:30 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Venta_ID_Comprador] ON [dbo].[Venta]
(
	[ID_Comprador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Detalle_Venta] ADD  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[Detalle_Venta] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Detalle_Venta] ADD  DEFAULT (getdate()) FOR [FechaModificacion]
GO
ALTER TABLE [dbo].[Detalle_Venta] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Membresia] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Membresia] ADD  DEFAULT (getdate()) FOR [FechaModificacion]
GO
ALTER TABLE [dbo].[Membresia] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Rol] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Rol] ADD  DEFAULT (getdate()) FOR [FechaModificacion]
GO
ALTER TABLE [dbo].[Rol] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [FechaModificacion]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Vaca] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Vaca] ADD  DEFAULT (getdate()) FOR [FechaModificacion]
GO
ALTER TABLE [dbo].[Vaca] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT (getdate()) FOR [FechaModificacion]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Detalle_Venta]  WITH CHECK ADD  CONSTRAINT [fk_ganado] FOREIGN KEY([ID_Vaca])
REFERENCES [dbo].[Vaca] ([ID_Vaca])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Detalle_Venta] CHECK CONSTRAINT [fk_ganado]
GO
ALTER TABLE [dbo].[Detalle_Venta]  WITH CHECK ADD  CONSTRAINT [fk_venta] FOREIGN KEY([ID_Venta])
REFERENCES [dbo].[Venta] ([ID_Venta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Detalle_Venta] CHECK CONSTRAINT [fk_venta]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [fk_membresia] FOREIGN KEY([ID_Membresia])
REFERENCES [dbo].[Membresia] ([ID_Membresia])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [fk_membresia]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Rol] ([ID_Rol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Vaca]  WITH CHECK ADD  CONSTRAINT [fk_vendedor] FOREIGN KEY([ID_Vendedor])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Vaca] CHECK CONSTRAINT [fk_vendedor]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [fk_comprador] FOREIGN KEY([ID_Comprador])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [fk_comprador]
GO
ALTER TABLE [dbo].[Detalle_Venta]  WITH CHECK ADD  CONSTRAINT [CHK_Descuento_Valido] CHECK  (([Descuento]>=(0) AND [Descuento]<=(100)))
GO
ALTER TABLE [dbo].[Detalle_Venta] CHECK CONSTRAINT [CHK_Descuento_Valido]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [CHK_Edad_Valida] CHECK  ((datediff(year,[Fecha_Nacimiento],getdate())>=(16)))
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [CHK_Edad_Valida]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD CHECK  (([Tipo_Usuario]='Ambos' OR [Tipo_Usuario]='Comprador' OR [Tipo_Usuario]='Vendedor'))
GO
ALTER TABLE [dbo].[Vaca]  WITH CHECK ADD  CONSTRAINT [CHK_Edad_Positiva] CHECK  (([Edad]>=(0)))
GO
ALTER TABLE [dbo].[Vaca] CHECK CONSTRAINT [CHK_Edad_Positiva]
GO
ALTER TABLE [dbo].[Vaca]  WITH CHECK ADD  CONSTRAINT [CHK_Peso_Positivo] CHECK  (([Peso]>(0)))
GO
ALTER TABLE [dbo].[Vaca] CHECK CONSTRAINT [CHK_Peso_Positivo]
GO
ALTER TABLE [dbo].[Vaca]  WITH CHECK ADD  CONSTRAINT [CHK_Precio_Positivo] CHECK  (([Precio]>=(0)))
GO
ALTER TABLE [dbo].[Vaca] CHECK CONSTRAINT [CHK_Precio_Positivo]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [CHK_Total_Positivo] CHECK  (([Total]>=(0)))
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [CHK_Total_Positivo]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarMembresia]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[ActualizarMembresia]    Script Date: 29/08/2025 4:23:13 p. m. ******/
CREATE PROCEDURE [dbo].[ActualizarMembresia]
    @ID_Membresia INT,
    @Nombre_Membresia NVARCHAR(100),
    @Valor_Membresia INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Membresia
    SET 
        Nombre_Membresia = @Nombre_Membresia,
        Valor_Membresia = @Valor_Membresia,
        FechaModificacion = GETDATE()
    WHERE ID_Membresia = @ID_Membresia;

    IF @@ROWCOUNT > 0
        RETURN 1;
    ELSE
        RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarUsuario]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarUsuario] (
    @ID_Usuario INT,
    @Nombre VARCHAR(80),
    @Cedula VARCHAR(20),
    @Fecha_Nacimiento DATE,
    @Correo VARCHAR(320),
    @Celular VARCHAR(10),
    @Tipo_Usuario VARCHAR(20),
    @ID_Membresia INT,
    @Contrasena VARCHAR(100) = NULL,
    @ID_Rol INT = NULL,
    @Estado BIT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @HashContrasena VARBINARY(256);
    
    IF @Contrasena IS NOT NULL
        SET @HashContrasena = HASHBYTES('SHA2_256', @Contrasena);

    UPDATE USUARIO
    SET
        Nombre = @Nombre,
        Cedula = @Cedula,
        Fecha_Nacimiento = @Fecha_Nacimiento,
        Correo = @Correo,
        Celular = @Celular,
        Tipo_Usuario = @Tipo_Usuario,
        ID_Membresia = @ID_Membresia,
        Contrasena = ISNULL(@HashContrasena, Contrasena),
        ID_Rol = ISNULL(@ID_Rol, ID_Rol),
        Estado = @Estado,
        FechaModificacion = GETDATE()
    WHERE ID_Usuario = @ID_Usuario;

    SELECT @@ROWCOUNT AS FilasActualizadas;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarVaca]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[ActualizarVaca]    Script Date: 29/08/2025 4:23:13 p. m. ******/
CREATE PROCEDURE [dbo].[ActualizarVaca] (
	@ID_Vaca int,
    @Nombre varchar(80),
    @Raza varchar(80),
    @Edad int,
    @Peso decimal(10,2),
    @Precio decimal(20,2),
    @Estado_Salud varchar(50),
    @ID_Vendedor int
)
AS
BEGIN
    UPDATE Vaca SET
        Nombre = @Nombre,
        Raza = @Raza,
        Edad = @Edad,
        Peso = @Peso,
        Precio = @Precio,
        Estado_Salud = @Estado_Salud,
        ID_Vendedor = @ID_Vendedor,
        FechaModificacion = GETDATE()
    WHERE ID_Vaca = @ID_Vaca;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarDetalleVenta]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[EliminarDetalleVenta]    Script Date: 29/08/2025 4:23:13 p. m. ******/
CREATE PROCEDURE [dbo].[EliminarDetalleVenta]
    @ID_Detalle_Venta INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Detalle_Venta SET Estado = 0, FechaModificacion = GETDATE()
    WHERE ID_Detalle_Venta = @ID_Detalle_Venta;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarMembresia]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[EliminarMembresia]    Script Date: 29/08/2025 4:23:13 p. m. ******/
CREATE PROCEDURE [dbo].[EliminarMembresia]
    @ID_Membresia INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Membresia SET Estado = 0, FechaModificacion = GETDATE() 
    WHERE ID_Membresia = @ID_Membresia;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarUsuario]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[EliminarUsuario]    Script Date: 29/08/2025 4:23:13 p. m. ******/
CREATE   PROCEDURE [dbo].[EliminarUsuario]
    @ID_Usuario INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Validar que el usuario existe
    IF NOT EXISTS (SELECT 1 FROM Usuario WHERE ID_Usuario = @ID_Usuario)
    BEGIN
        SELECT 0 AS Resultado, 'El usuario no existe' AS Mensaje;
        RETURN;
    END
    
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- Primero eliminar registros en tablas hijas (ajusta según tu esquema)
        -- Ejemplo: DELETE FROM TablaHija WHERE ID_Usuario = @ID_Usuario;
        
        -- Eliminar vacas del usuario
        DELETE FROM Vaca 
        WHERE ID_Vendedor = @ID_Usuario;
        
        -- Eliminar usuario permanentemente
        DELETE FROM Usuario 
        WHERE ID_Usuario = @ID_Usuario;
        
        COMMIT TRANSACTION;
        
        -- Retornar éxito
        SELECT 1 AS Resultado, 'Usuario eliminado permanentemente' AS Mensaje;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        
        -- Retornar error
        SELECT 0 AS Resultado, 
               ERROR_MESSAGE() AS Mensaje,
               ERROR_SEVERITY() AS Severidad,
               ERROR_STATE() AS Estado;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarVaca]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[EliminarVaca]    Script Date: 29/08/2025 4:23:13 p. m. ******/
CREATE PROCEDURE [dbo].[EliminarVaca]
    @ID_Vaca INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Vaca SET Estado = 0, FechaModificacion = GETDATE() WHERE ID_Vaca = @ID_Vaca;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarVenta]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[EliminarVenta]    Script Date: 29/08/2025 4:23:13 p. m. ******/
CREATE PROCEDURE [dbo].[EliminarVenta]
    @ID_Venta INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    
    BEGIN TRY
        UPDATE Detalle_Venta SET Estado = 0, FechaModificacion = GETDATE() WHERE ID_Venta = @ID_Venta;
        UPDATE Venta SET Estado = 0, FechaModificacion = GETDATE() WHERE ID_Venta = @ID_Venta;
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[ListarVentas]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[ListarVentas]    Script Date: 29/08/2025 4:23:13 p. m. ******/
CREATE PROCEDURE [dbo].[ListarVentas]
AS
BEGIN
    SELECT ID_Venta, ID_Comprador, Fecha_Venta, Total
    FROM Venta
    WHERE Estado = 1
    ORDER BY Fecha_Venta DESC
END
GO
/****** Object:  StoredProcedure [dbo].[LoginUsuario]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[LoginUsuario]    Script Date: 29/08/2025 4:23:13 p. m. ******/
CREATE PROCEDURE [dbo].[LoginUsuario]
    @Correo VARCHAR(320),
    @Contrasena VARCHAR(100)
AS
BEGIN
    DECLARE @HashContrasena VARBINARY(256);
    SET @HashContrasena = HASHBYTES('SHA2_256', @Contrasena);
    
    SELECT * FROM Usuario
    WHERE Correo = @Correo AND Contrasena = @HashContrasena AND Estado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerCompradores]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[ObtenerCompradores]    Script Date: 29/08/2025 4:23:13 p. m. ******/
CREATE PROCEDURE [dbo].[ObtenerCompradores]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM Usuario 
    WHERE Tipo_Usuario IN ('Comprador', 'Ambos') AND Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerDetallesVenta]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[ObtenerDetallesVenta]    Script Date: 29/08/2025 4:23:13 p. m. ******/
CREATE PROCEDURE [dbo].[ObtenerDetallesVenta]
    @ID_Venta INT
AS
BEGIN
    SELECT dv.ID_Detalle_Venta, dv.ID_Venta, dv.ID_Vaca, dv.Precio, 
           v.Nombre as Nombre_Vaca, v.Raza, v.Edad, v.Peso, v.Estado_Salud as Estado_Vaca,
           dv.Descuento
    FROM Detalle_Venta dv
    INNER JOIN Vaca v ON dv.ID_Vaca = v.ID_Vaca
    WHERE dv.ID_Venta = @ID_Venta AND dv.Estado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerMembresia]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[ObtenerMembresia]    Script Date: 29/08/2025 4:23:13 p. m. ******/
CREATE PROCEDURE [dbo].[ObtenerMembresia]
    @ID_Membresia INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM Membresia WHERE ID_Membresia = @ID_Membresia AND Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTipoUsuario]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[ObtenerTipoUsuario]    Script Date: 29/08/2025 4:23:13 p. m. ******/
CREATE PROCEDURE [dbo].[ObtenerTipoUsuario]
    @ID INT
AS
BEGIN
    SELECT Tipo_Usuario FROM Usuario WHERE ID_Usuario = @ID AND Estado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuario]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuario]
    @ID_Usuario INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        ID_Usuario,
        Nombre,
        Cedula,
        Fecha_Nacimiento,
        Correo,
        Celular,
        Tipo_Usuario,
        ID_Membresia,
        ID_Rol,
        Estado   -- ✅ Agregar Estado al SELECT
    FROM Usuario 
    WHERE ID_Usuario = @ID_Usuario AND Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerVaca]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[ObtenerVaca]    Script Date: 29/08/2025 4:23:13 p. m. ******/
CREATE PROCEDURE [dbo].[ObtenerVaca]
    @ID_Vaca INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM Vaca WHERE ID_Vaca = @ID_Vaca AND Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerVendedores]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[ObtenerVendedores]    Script Date: 29/08/2025 4:23:13 p. m. ******/
CREATE PROCEDURE [dbo].[ObtenerVendedores]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM Usuario WHERE Tipo_Usuario IN ('Vendedor', 'Ambos') AND Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerVenta]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[ObtenerVenta]    Script Date: 29/08/2025 4:23:13 p. m. ******/
CREATE PROCEDURE [dbo].[ObtenerVenta]
    @ID_Venta INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM Venta WHERE ID_Venta = @ID_Venta AND Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[RegistrarComprador]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[RegistrarComprador]    Script Date: 29/08/2025 4:23:13 p. m. ******/
CREATE PROCEDURE [dbo].[RegistrarComprador]
    @Nombre VARCHAR(80),
    @Cedula VARCHAR(20),
    @Fecha_Nacimiento DATE,
    @Correo VARCHAR(320),
    @Celular VARCHAR(10),
    @ID_Membresia INT NULL,
    @Contrasena VARCHAR(100),
    @ID_Rol INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @HashContrasena VARBINARY(256);
    SET @HashContrasena = HASHBYTES('SHA2_256', @Contrasena);
    
    INSERT INTO Usuario (Nombre, Cedula, Fecha_Nacimiento, Correo, Celular, 
                        Tipo_Usuario, ID_Membresia, Contrasena, ID_Rol,
                        FechaCreacion, FechaModificacion, Estado)
    VALUES (@Nombre, @Cedula, @Fecha_Nacimiento, @Correo, @Celular, 
            'Comprador', @ID_Membresia, @HashContrasena, @ID_Rol,
            GETDATE(), GETDATE(), 1);
END;
GO
/****** Object:  StoredProcedure [dbo].[RegistrarCompradorVendedor]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[RegistrarCompradorVendedor]    Script Date: 29/08/2025 4:23:13 p. m. ******/
CREATE PROCEDURE [dbo].[RegistrarCompradorVendedor]
    @Nombre VARCHAR(80),
    @Cedula VARCHAR(20),
    @Fecha_Nacimiento DATE,
    @Correo VARCHAR(320),
    @Celular VARCHAR(10),
    @ID_Membresia INT NULL,
    @Contrasena VARCHAR(100),
    @ID_Rol INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @HashContrasena VARBINARY(256);
    SET @HashContrasena = HASHBYTES('SHA2_256', @Contrasena);
    
    INSERT INTO Usuario (Nombre, Cedula, Fecha_Nacimiento, Correo, Celular, 
                        Tipo_Usuario, ID_Membresia, Contrasena, ID_Rol,
                        FechaCreacion, FechaModificacion, Estado)
    VALUES (@Nombre, @Cedula, @Fecha_Nacimiento, @Correo, @Celular, 
            'Ambos', @ID_Membresia, @HashContrasena, @ID_Rol,
            GETDATE(), GETDATE(), 1);
END;
GO
/****** Object:  StoredProcedure [dbo].[RegistrarMembresia]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[RegistrarMembresia]    Script Date: 29/08/2025 4:23:13 p. m. ******/
CREATE PROCEDURE [dbo].[RegistrarMembresia]
    @Nombre_Membresia VARCHAR(100),
    @Valor_Membresia INT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Membresia (Nombre_Membresia, Valor_Membresia, FechaCreacion, FechaModificacion, Estado)
    VALUES (@Nombre_Membresia, @Valor_Membresia, GETDATE(), GETDATE(), 1);
END;
GO
/****** Object:  StoredProcedure [dbo].[RegistrarUsuario]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RegistrarUsuario]
    @Nombre VARCHAR(80),
    @Cedula VARCHAR(20),
    @Fecha_Nacimiento DATE,
    @Correo VARCHAR(320),
    @Celular VARCHAR(10),
    @Tipo_Usuario VARCHAR(20) = NULL,
    @ID_Membresia INT = NULL,
    @Contrasena VARCHAR(100),
    @ID_Rol INT,
    @Estado BIT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Validaciones básicas
        IF @Nombre IS NULL OR @Cedula IS NULL OR @Correo IS NULL OR @Celular IS NULL OR @Contrasena IS NULL OR @ID_Rol IS NULL
        BEGIN
            RAISERROR('Los campos obligatorios no pueden ser nulos', 16, 1);
            RETURN;
        END

        -- 🔄 ASIGNACIÓN AUTOMÁTICA DE VALORES SEGÚN ROL
        DECLARE 
            @TipoUsuarioFinal VARCHAR(20),
            @MembresiaFinal INT,
            @EstadoFinal BIT;

        -- Determinar Tipo_Usuario según el Rol
        SET @TipoUsuarioFinal = CASE 
            WHEN @Tipo_Usuario IS NOT NULL THEN @Tipo_Usuario
            WHEN @ID_Rol = 4 THEN 'Comprador'
            WHEN @ID_Rol = 5 THEN 'Vendedor'
            WHEN @ID_Rol = 8 THEN 'Ambos'
            ELSE NULL
        END;

        -- 🚫 SOLO Vendedor, Comprador y Ambos requieren membresía
        SET @MembresiaFinal = CASE 
            WHEN @ID_Membresia IS NOT NULL AND @ID_Membresia <> 0 THEN @ID_Membresia
            WHEN @ID_Rol IN (4, 5, 8) THEN 1
            ELSE NULL
        END;

        -- Determinar Estado
        SET @EstadoFinal = CASE 
            WHEN @Estado IS NOT NULL THEN @Estado
            ELSE 1
        END;

        -- ✅ VALIDACIÓN: Solo Vendedor/Comprador/Ambos deben tener membresía
        IF @ID_Rol IN (4, 5, 8) AND (@MembresiaFinal IS NULL OR @MembresiaFinal = 0)
        BEGIN
            RAISERROR('Los roles de Vendedor, Comprador y Ambos deben tener una membresía asignada', 16, 1);
            RETURN;
        END

        -- 🚫 VALIDACIÓN: Roles administrativos NO deben tener membresía
        IF @ID_Rol NOT IN (4, 5, 8) AND @MembresiaFinal IS NOT NULL
        BEGIN
            RAISERROR('Los roles administrativos no deben tener membresía asignada', 16, 1);
            RETURN;
        END

        -- 🚫 VALIDACIÓN: Roles administrativos NO deben tener Tipo_Usuario
        IF @ID_Rol NOT IN (4, 5, 8) AND @Tipo_Usuario IS NOT NULL
        BEGIN
            RAISERROR('Los roles administrativos no deben tener Tipo de Usuario', 16, 1);
            RETURN;
        END

        -- Validar que la membresía exista si se va a asignar
        IF @MembresiaFinal IS NOT NULL AND NOT EXISTS (SELECT 1 FROM MEMBRESIA WHERE ID_Membresia = @MembresiaFinal)
        BEGIN
            RAISERROR('La membresía especificada no existe', 16, 1);
            RETURN;
        END

        -- Validar que el rol exista
        IF NOT EXISTS (SELECT 1 FROM ROL WHERE ID_Rol = @ID_Rol)
        BEGIN
            RAISERROR('El rol especificado no existe', 16, 1);
            RETURN;
        END

        -- Validar cédula única
        IF EXISTS (SELECT 1 FROM USUARIO WHERE Cedula = @Cedula)
        BEGIN
            RAISERROR('La cédula ya está registrada', 16, 1);
            RETURN;
        END

        -- Validar correo único
        IF EXISTS (SELECT 1 FROM USUARIO WHERE Correo = @Correo)
        BEGIN
            RAISERROR('El correo electrónico ya está registrado', 16, 1);
            RETURN;
        END

        -- Encriptar contraseña
        DECLARE @HashContrasena VARBINARY(256) = HASHBYTES('SHA2_256', @Contrasena);

        -- 📝 INSERTAR USUARIO CON VALORES ADAPTADOS
        INSERT INTO USUARIO (
            Nombre, Cedula, Fecha_Nacimiento, Correo, Celular,
            Tipo_Usuario, ID_Membresia, Contrasena, ID_Rol, Estado, FechaCreacion
        )
        VALUES (
            @Nombre, @Cedula, @Fecha_Nacimiento, @Correo, @Celular,
            @TipoUsuarioFinal, @MembresiaFinal, @HashContrasena, @ID_Rol, @EstadoFinal, GETDATE()
        );

        -- ✅ RETORNAR ÉXITO
        SELECT 
            SCOPE_IDENTITY() AS ID_Usuario,
            'Usuario registrado exitosamente' AS Mensaje,
            @TipoUsuarioFinal AS Tipo_Usuario_Asignado,
            @MembresiaFinal AS Membresia_Asignada,
            @EstadoFinal AS Estado_Asignado;

    END TRY
    BEGIN CATCH
        DECLARE @ErrorMsg VARCHAR(1000) = ERROR_MESSAGE();
        SELECT 
            -1 AS ID_Usuario,
            'Error: ' + @ErrorMsg AS Mensaje,
            NULL AS Tipo_Usuario_Asignado,
            NULL AS Membresia_Asignada,
            NULL AS Estado_Asignado;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarVaca]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[RegistrarVaca]    Script Date: 29/08/2025 4:23:13 p. m. ******/
CREATE PROCEDURE [dbo].[RegistrarVaca]
    @Nombre        VARCHAR(80) = NULL,
    @Raza          VARCHAR(80) = NULL,
    @Edad          INT = NULL,
    @Peso          DECIMAL(10,2) = NULL,
    @Precio        DECIMAL(20,2) = NULL,
    @Estado_Salud  VARCHAR(50) = NULL,
    @ID_Vendedor   INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Vaca (Nombre, Raza, Edad, Peso, Precio, Estado_Salud, ID_Vendedor,
                         FechaCreacion, FechaModificacion, Estado)
    VALUES (@Nombre, @Raza, @Edad, @Peso, @Precio, @Estado_Salud, @ID_Vendedor,
            GETDATE(), GETDATE(), 1);
    
    SELECT SCOPE_IDENTITY() AS ID_Vaca;
END;
GO
/****** Object:  StoredProcedure [dbo].[RegistrarVendedor]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[RegistrarVendedor]    Script Date: 29/08/2025 4:23:13 p. m. ******/
CREATE PROCEDURE [dbo].[RegistrarVendedor]
    @Nombre VARCHAR(80),
    @Cedula VARCHAR(20),
    @Fecha_Nacimiento DATE,
    @Correo VARCHAR(320),
    @Celular VARCHAR(10),
    @ID_Membresia INT NULL,
    @Contrasena VARCHAR(100),
    @ID_Rol INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @HashContrasena VARBINARY(256);
    SET @HashContrasena = HASHBYTES('SHA2_256', @Contrasena);
    
    INSERT INTO Usuario (Nombre, Cedula, Fecha_Nacimiento, Correo, Celular, 
                        Tipo_Usuario, ID_Membresia, Contrasena, ID_Rol,
                        FechaCreacion, FechaModificacion, Estado)
    VALUES (@Nombre, @Cedula, @Fecha_Nacimiento, @Correo, @Celular, 
            'Vendedor', @ID_Membresia, @HashContrasena, @ID_Rol,
            GETDATE(), GETDATE(), 1);
END;
GO
/****** Object:  StoredProcedure [dbo].[RegistrarVentaMultiple]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarVentaMultiple]
    @VentaJson NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ID_Venta INT;

    -- 1. Insertar la venta usando el Total que viene en el JSON
    INSERT INTO [CowShop].[dbo].[Venta] (
          ID_Comprador,
          Fecha_Venta,
          Total,
          FechaCreacion,
          Estado
    )
    SELECT  
          v.ID_Comprador,
          v.Fecha_Venta,
          v.Total,
          GETDATE(),
          1
    FROM OPENJSON(@VentaJson)
         WITH (
            ID_Comprador INT,
            Fecha_Venta DATETIME,
            Total DECIMAL(18,2)
         ) v;

    -- 2. Guardar el ID de la venta recién creada
    SET @ID_Venta = SCOPE_IDENTITY();

    -- 3. Insertar los detalles
    INSERT INTO [CowShop].[dbo].[Detalle_Venta] (
          ID_Venta,
          ID_Vaca,
          Precio,
          FechaCreacion,
          Estado
    )
    SELECT  
          @ID_Venta,
          d.ID_Vaca,
          d.Precio,
          GETDATE(),
          1
    FROM OPENJSON(@VentaJson)
         WITH (
            VacasDetalle NVARCHAR(MAX) AS JSON
         ) v
    CROSS APPLY OPENJSON(v.VacasDetalle)
         WITH (
            ID_Vaca INT,
            Precio DECIMAL(18,2)
         ) d;

    -- 4. Retornar el ID_Venta
    SELECT @ID_Venta AS ID_Venta;
END;
GO
/****** Object:  StoredProcedure [dbo].[RegistraVaca]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[RegistraVaca]    Script Date: 29/08/2025 4:23:13 p. m. ******/
CREATE PROCEDURE [dbo].[RegistraVaca](
    @Nombre VARCHAR(80),
    @Raza VARCHAR(80),
    @Edad INT,
    @Peso DECIMAL(10,2),
    @Precio DECIMAL(20,2),
    @Estado_Salud VARCHAR(50),
    @ID_Usuario INT
)
AS
BEGIN
    INSERT INTO Vaca (
        Nombre, Raza, Edad, Peso, Precio, Estado_Salud, ID_Vendedor,
        FechaCreacion, FechaModificacion, Estado
    )
    VALUES (
        @Nombre, @Raza, @Edad, @Peso, @Precio, @Estado_Salud, @ID_Usuario,
        GETDATE(), GETDATE(), 1
    )
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_ROL]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ACTUALIZAR_ROL]
    @ID_Rol INT,
    @NombreRol VARCHAR(50),
    @DescripcionRol VARCHAR(255),
    @Estado BIT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Verificar si el rol existe antes de actualizar
        IF NOT EXISTS (SELECT 1 FROM [dbo].[Rol] WHERE ID_Rol = @ID_Rol)
        BEGIN
            SELECT 'Error: El rol no existe' AS Mensaje, 0 AS FilasAfectadas;
            RETURN;
        END

        -- Actualizar el rol
        UPDATE [dbo].[Rol] -- ✅ Usando el nombre correcto de la tabla
        SET 
            NombreRol = @NombreRol,
            DescripcionRol = @DescripcionRol,
            Estado = @Estado,
            FechaModificacion = GETDATE()
        WHERE ID_Rol = @ID_Rol;

        COMMIT TRANSACTION;

        SELECT 'Rol actualizado correctamente' AS Mensaje, @@ROWCOUNT AS FilasAfectadas;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        SELECT 'Error al actualizar el rol: ' + ERROR_MESSAGE() AS Mensaje, 0 AS FilasAfectadas;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarRol]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Actualizar Rol
CREATE PROCEDURE [dbo].[sp_ActualizarRol]
    @ID_Rol INT,
    @NombreRol NVARCHAR(100),
    @DescripcionRol NVARCHAR(255),
    @Estado BIT,
    @FechaModificacion DATETIME
AS
BEGIN
    UPDATE Rol
    SET NombreRol = @NombreRol,
        DescripcionRol = @DescripcionRol,
        Estado = @Estado,
        FechaModificacion = @FechaModificacion
    WHERE ID_Rol = @ID_Rol;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearRol]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Crear Rol
CREATE PROCEDURE [dbo].[sp_CrearRol]
    @NombreRol NVARCHAR(100),
    @DescripcionRol NVARCHAR(255),
    @FechaCreacion DATETIME,
    @Estado BIT
AS
BEGIN
    INSERT INTO Rol (NombreRol, DescripcionRol, FechaCreacion, Estado)
    VALUES (@NombreRol, @DescripcionRol, @FechaCreacion, @Estado);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_ROL]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ELIMINAR_ROL]
    @ID_Rol INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Verificar si el rol existe
        IF NOT EXISTS (SELECT 1 FROM [dbo].[Rol] WHERE [ID_Rol] = @ID_Rol AND [Estado] = 1)
        BEGIN
            RAISERROR('El rol especificado no existe o ya está inactivo.', 16, 1);
            RETURN;
        END
        
        -- Desactivar el rol (borrado lógico)
        UPDATE [dbo].[Rol] 
        SET 
            [Estado] = 0,
            [FechaModificacion] = GETDATE()
        WHERE [ID_Rol] = @ID_Rol;
        
        SELECT @@ROWCOUNT AS FilasAfectadas;
        
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarRol]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Eliminar Rol
CREATE PROCEDURE [dbo].[sp_EliminarRol]
    @ID_Rol INT
AS
BEGIN
    UPDATE [dbo].[Rol] 
SET [Estado] = 0,
    [FechaModificacion] = GETDATE()
WHERE [ID_Rol] = @ID_Rol;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_ROLES]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Procedimiento para Listar Todos los Roles
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_ROLES]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        [ID_Rol],
        [NombreRol],
        [DescripcionRol] AS [Descripcion_Rol], -- ✅ Agrega un alias
        [FechaCreacion],
        [FechaModificacion],
        [Estado]
    FROM [dbo].[Rol]
    WHERE [Estado] = 1
    ORDER BY [NombreRol];
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_USUARIO]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LISTAR_USUARIO]
AS
BEGIN
    SELECT 
        ID_Usuario,
        Nombre,
        Cedula,
        Fecha_Nacimiento,
        Correo,
        Celular,
        Tipo_Usuario,
        ID_Membresia,
        ID_Rol,          -- ✅ Asegurar que existe
        Estado           -- ✅ Asegurar que existe
    FROM USUARIO
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_Vaca]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LISTAR_Vaca]
AS
BEGIN
    SELECT 
        v.ID_Vaca, 
        v.Nombre, 
        v.Raza, 
        v.Edad, 
        v.Peso, 
        v.Precio, 
        v.Estado_Salud, 
        v.ID_Vendedor,
        u.Nombre AS NombreVendedor,  -- ← Agregar nombre del vendedor
        u.Correo AS CorreoVendedor   -- ← Agregar contacto del vendedor
    FROM Vaca v
    INNER JOIN Usuario u ON v.ID_Vendedor = u.ID_Usuario  -- ← Join con tabla Usuario
    WHERE v.Estado = 1
    AND u.Estado = 1  -- ← Solo vendedores activos
    ORDER BY v.Nombre;  -- ← Ordenar por nombre de vaca
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarMembresias]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[SP_ListarMembresias]    Script Date: 29/08/2025 4:23:13 p. m. ******/
-- Modificar SP_ListarMembresias
CREATE PROCEDURE [dbo].[SP_ListarMembresias]
AS
BEGIN
    SELECT 
        ID_Membresia,
        Nombre_Membresia,
        Valor_Membresia,
        FechaCreacion,
        FechaModificacion,
        Estado
    FROM Membresia
    WHERE Estado = 1
    ORDER BY Nombre_Membresia;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENER_ROL]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Procedimiento para Obtener un Rol por ID
-- =============================================
CREATE PROCEDURE [dbo].[SP_OBTENER_ROL]
    @ID_Rol INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        [ID_Rol],
        [NombreRol],
        [DescripcionRol],
        [FechaCreacion],
        [FechaModificacion],
        [Estado]
    FROM [dbo].[Rol]
    WHERE [ID_Rol] = @ID_Rol AND [Estado] = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerRoles]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Obtener todos los roles
CREATE PROCEDURE [dbo].[sp_ObtenerRoles]
AS
BEGIN
    SELECT * FROM Rol;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerRolPorId]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Obtener rol por ID
CREATE PROCEDURE [dbo].[sp_ObtenerRolPorId]
    @ID_Rol INT
AS
BEGIN
    SELECT * FROM Rol WHERE ID_Rol = @ID_Rol;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_ROL]    Script Date: 14/09/2025 8:23:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Procedimiento para Registrar un Nuevo Rol
CREATE PROCEDURE [dbo].[SP_REGISTRAR_ROL]
    @NombreRol VARCHAR(100),
    @DescripcionRol VARCHAR(255) = NULL,
    @FechaCreacion DATETIME = NULL,
    @FechaModificacion DATETIME = NULL,
    @Estado BIT = 1
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        PRINT 'Ejecutando SP_REGISTRAR_ROL';
        PRINT 'NombreRol: ' + @NombreRol;
        PRINT 'DescripcionRol: ' + ISNULL(@DescripcionRol, 'NULL');
        PRINT 'FechaCreacion: ' + CONVERT(VARCHAR, @FechaCreacion, 120);
        PRINT 'FechaModificacion: ' + CONVERT(VARCHAR, @FechaModificacion, 120);
        PRINT 'Estado: ' + CAST(@Estado AS VARCHAR);
        
        INSERT INTO [dbo].[Rol] (
            [NombreRol],
            [DescripcionRol],
            [FechaCreacion],
            [FechaModificacion],
            [Estado]
        ) VALUES (
            @NombreRol,
            @DescripcionRol,
            ISNULL(@FechaCreacion, GETDATE()),
            ISNULL(@FechaModificacion, GETDATE()),
            ISNULL(@Estado, 1)
        );
        
        PRINT 'Inserción exitosa';
        SELECT 1 AS Success;
        
    END TRY
    BEGIN CATCH
        PRINT 'Error: ' + ERROR_MESSAGE();
        SELECT 0 AS Success;
    END CATCH
END
GO
USE [master]
GO
